// app.component.scss

.navbar {
  background-color: #343a40; // Dark background
  color: #fff;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;

    &:hover {
      color: #f8f9fa; // Light hover color
    }
  }

  .navbar-toggler {
    background-color: transparent; // Make the toggle button background transparent
    border: none;

    .navbar-toggler-icon {
      background-color: #ffffff; // White icon
    }
  }

  .navbar-collapse {
    background-color: #343a40; // Match background color
    .nav-link {
      color: #f8f9fa;
      font-size: 1.1rem;

      &:hover {
        color: #007bff; // Bootstrap primary color for hover effect
      }
    }
  }
}
